#eea-progressbar-cpanel {
  background: #eee;
}

#eea-progressbar-cpanel:after {
  content: '.';
  height: 0;
  display: block;
  clear: both;
}

#content fieldset.eea-progressbar-widget,
.eea-progressbar-widget {
  width: 350px;
  float: left;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-style: solid;
  margin: 0.3em;
  background: #fff;
  border-radius: 3px;
}

.eea-progressbar-widget legend {
  display: none;
}

.eea-progressbar-widget .valid, .eea-progressbar-widget .invalid {
  padding: 1em;
}

.eea-progressbar-widget .button {
  text-align: right;
}

.eea-progressbar-widget .valid {
  font-weight: bold;
}

.eea-progressbar-widget .preview {
  min-height: 95px;
  padding-top: 1em;
}


.eea-progressbar-widget .invalid {
  border-bottom: 1px solid #ccc;
}

.eea-progressbar-widget .default {
  background: #fff;
}

.eea-progressbar-widget .custom {
  background: #fefaf0;
}

.eea-progressbar-widget .workflow {
  color: green;
  text-align: right;
}

.eea-progressbar-widget input[type=text][size] {
  width: 100%;
}

.eea-progressbar-widget .error {
  color: red;
  padding: 1em;
  padding-bottom: 0;
  margin: 0;
  border: none;
  background: none;
  font-size: 100%;
}

.eea-progressbar-widget .error dl {
  padding: 0.4em 0 0 1em;
}

.eea-progressbar-widget .error dt {
  font-weight: bold;

}

.eea-progressbar-widget .error dt, .eea-progressbar-widget .error dd {
  display: inline;
}

.eea-progressbar-widget .error dd:after {
  content: '.';
  display: block;
  height: 0;
}
