#content {
  background: #F5F5F5;
  font-size: 12px;
}

#eea-progressbar-cpanel {
  margin: 0 auto;
  padding: 1em 0;
}

#eea-progressbar-cpanel .ui-state-highlight {
  opacity: 0.7;
}

#eea-progressbar-cpanel:after {
  content: '.';
  height: 0;
  display: block;
  clear: both;
}

#content fieldset.eea-progressbar-widget,
.eea-progressbar-widget {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.eea-progressbar-widget legend {
  display: none;
}

.eea-progressbar-widget .button {
}

.eea-progressbar-widget .valid .eea-icon {
  color: #039E57;
}

.eea-progressbar-widget.default {
}

#content .eea-progressbar-widget.custom form fieldset,
#content .eea-progressbar-widget.custom .progress-field {
  background: #EFE;
}

#content .eea-progressbar-widget.hidden {
  display: block;
}

#content .eea-progressbar-widget.hidden form fieldset,
#content .eea-progressbar-widget.hidden .progress-field {
  background: #F5F5F5;
}

#content .eea-progressbar-widget.changed form fieldset,
#content .eea-progressbar-widget.changed .progress-field {
  background: #ffe;
}

.buttons a, .buttons a:visited {
  color: #346F83 !important;
}

.eea-progressbar-widget .buttons a,
.eea-progressbar-widget .buttons .widget-close {
  visibility: hidden;
}

.eea-progressbar-widget:hover .buttons a,
.eea-progressbar-widget:hover .widget-close {
  visibility: visible;
}

.eea-progressbar-widget input[type=text][size] {
  min-width: 100%;
}

.eea-progressbar-widget .error {
  color: red;
  padding: 1em;
  padding-bottom: 0;
  margin: 0;
  border: none;
  background: none;
  font-size: 100%;
}

.eea-progressbar-widget .error dl {
  padding: 0.4em 0 0 1em;
}

.eea-progressbar-widget .error dt {
  font-weight: bold;

}

.eea-progressbar-widget .error dt, .eea-progressbar-widget .error dd {
  display: inline;
}

.eea-progressbar-widget .error dd:after {
  content: '.';
  display: block;
  height: 0;
}

.progress-field .eea-icon {
  float: left;
  display: block;
}

.progress-field .button {
  margin-left: 25px;
}

.progress-field {
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
  padding: 0.5em 1em;
  background: #fff;
  cursor: crosshair;
}

.progress-field:first-child {
  border-top: 1px solid #ccc;
  border-bottom: 1px dotted #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.progress-field:nth-child(2) {
  border-bottom: 1px dotted #ccc;
}

.progress-field.buttons {
  text-align: right;
  cursor: pointer;
  color: #427597;
  border-bottom: 2px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 0;
}

.progress-field.buttons a, .progress-field.buttons a:visited
#content .progress-field.buttons a, #content .progress-field.buttons a:visited {
  margin-left: 0.5em;
  border-bottom: none !important;
}

.progress-field.workflow {
  color: green;
  text-align: right;
  padding: 0 1em;
  font-size: 85%;
}

.progress-label {
  margin-left: 25px;
  display: block;
}

#content .eea-progressbar-widget form fieldset {
  margin: 0 0.4em;
  padding: 1em;
  border: 1px solid #ccc;
  border-top: none;
  background: #fcfcfc;
}

.eea-progressbar-widget #actionsView {
  text-align: right;
}

.eea-progressbar-widget input[type=submit] {
  padding: 0.5em;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid #CCC;
  border-bottom: 2px solid #CCC;
}

#add-new-widget-dialog fieldset {
  padding: 1em 1em 1em;
  margin: 0;
  border: none;
}

#add-new-widget-dialog input[type="text"] {
  width: 100%;
}

#content .eea-progressbar-widget a.widget-close {
  float: right;
  color: #8b0000 !important;
}

#add-new-widget, #add-new-widget:visited {
  padding: 1em 0.5em;
  border: none !important;
  display: block;
}
