
/*
** Workflow Percentace Bar
** ***********************
*/

.progressbar {
    width: 100%;
    height: 15px;
    border: 1px dotted #ccc;
    background-color: #eee;
}

.progressbar-step {
    float: left;
    height: 100%;
    background: #eee;
    position: relative;
    box-shadow: 0px 0px 1px orange;
}

.progressbar-step::before {
    content: attr(data-tip);
    position:absolute;
    z-index: 999;
    white-space:nowrap;
    bottom:9999px;
    background:inherit;
    color:#000;
    padding:0.5em;
    line-height: 24px;
    height: 24px;
    opacity: 0;
    transition:opacity 0.4s ease-out;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px #999;
}

.progressbar-step:hover::before {
    opacity: 1;
    bottom: 25px;
    z-index: 99990;
}

#portal-column-two .progressbar-step::before {
    right: 0;
}

.progressbar .progress-odd {
    opacity: 1.0;
    padding: 0;
    margin: 0;
}

.progressbar .progress-odd:hover {
}

.progressbar .progress-even {
    opacity: 1.0;
    padding: 0;
    margin: 0;
}

.progressbar .progress-even:hover {
}

.progressbar-closed {
    background-color: #BAE0BA;
}

.progressbar-next {
    background-color: #ffd280;
}

.progressbar-current {
    background-color: #ffd280;
}

.progressbar-remaining {
    background-color: #eee;
    box-shadow: none;
}

.progressbar-label {
    text-align: right;
}

.progressbar-label-closed {
    color: green;
}

.progressbar-label-opened {
    color: orange;
}

.progressbar-arrow-down {
    width: 0px;
    height: 0px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 5px solid #999;
    float: right;
    top: -7px;
    right: -2px;
    position: relative;
    visibility: hidden;
}

.progressbar .state-pending {
    background-color: #ffd280;
}

.progressbar .state-private {
    background-color: #ff8080;
}

.progressbar .state-published {
    background-color: #BAE0BA;
}

.progressbar .state-retracted {
    background-color: #ff8080;
}

.progressbar .state-marked_for_deletion {
    background-color: #ff8080;
}

.progressbar .progress-value {
    visibility: hidden;
    float: right;
    margin-top: -15px;
}

/* Listing */
.collection-listing {
    width: 100%;
}

.listing-header-progress {
    min-width: 40%;
}

/* Viewlet */
.progressbar-viewlet {
    float: right;
    padding: 0.2em 0.24em 0 0;
    width: 100%;
    border: 1px dotted #ccc;
    border-radius: 10px;
}

.progressbar-viewlet legend {
    text-align: right;
    padding: 0 0.5em;
}

.progressbar-viewlet .eea-progressbar {
    padding: 1em;
}

.progressbar-viewlet .progressbar {
    min-width: 150px;
}

.progressbar-viewlet .progressbar-label {
}

.progressbar {
}

.progressbar-step:first-child {
}

.progressbar-step:last-child {
}

/*
** Workflow Steps Trail
** ********************
*/

.progresstrail {
    width: 100%;
    height: auto;
    margin: 2em 0;
}

.progresstrail:after {
    content: "";
    clear: both;
    display: block;
}

.progresstrail-step {
    float: left;
    height: 100%;
    position: relative;
    text-align: center;
    border-top: 1px solid #cccccc;
    color: #bbbbbb;
    font-size: 80%;
    font-weight: bold;
}

.progresstrail-step::before {
    content: attr(data-description);
    width: 250px;
    position:absolute;
    z-index: 999;
    bottom:9999px;
    background: #f3f3f3;
    color: #555;
    padding: 1em;
    line-height: 2;
    opacity: 0;
    transition:opacity 0.4s ease-out;
    box-shadow: 2px 2px 5px #999;
}

.progresstrail-step:hover::before {
    opacity: 1;
    bottom: 110%;
    z-index: 99990;
}

#portal-column-two .progresstrail-step::before {
    right: 0;
}

.progresstrail-icon {
    width: 0px;
    height: 0px;
    border: 5px solid #cccccc;
    border-radius: 10px;
    display: block;
    top: -6px;
    position: relative;
    left: 50%;
}

.progresstrail-current {
    color: #555;
}

.progresstrail-current .progresstrail-icon {
    border-color: #555;
}

.portletItem .progresstrail-body {
    display: none;
}

.portletItem .progresstrail-step::before {
    content: attr(data-titledesc);
    bottom: 20px;
}

.progresstrail-mask {
  position: relative;
  top:-1px;
  width:50%;
  height: 1px;
  background-color:transparent;
  display: block;
}

.progresstrail-mask.first {
    background: #FFFFFF;
    left: 0;
}

.progresstrail-mask.last {
    background: #FFFFFF;
    left: 50%;
}

.progressbar-viewlet.trail {
    border: none;
}

.progressbar-viewlet.trail legend {
    display: none;
}
